{% extends 'base.html.twig' %}

{% block title %}{% trans %}Orders{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Orders{% endtrans %}</h1>
    <input class="form-control mb-2" id="search-orders-input" type="text" placeholder="{% trans %}Search...{% endtrans %}">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>{% trans %}Price{% endtrans %}</th>
                <th>{% trans %}Shipping price{% endtrans %}</th>
                <th>{% trans %}User{% endtrans %}</th>
                <th>{% trans %}Address{% endtrans %}</th>
                <th>{% trans %}Lunches{% endtrans %}</th>
                <th>{% trans %}Status{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody id="orders-table">
        {% for order in orders %}
            <tr>
                <td>{{ order.price }}</td>
                <td>{{ order.shippingPrice }}</td>
                <td>{{ order.user.phone }}</td>
                <td>
                    {% if order.address %}
                        {{ order.address.getDisplayName }}
                    {% else %}
                        {% trans %}No address{% endtrans %}
                    {% endif %}
                </td>
                <td>
                    <ul class="list-group">
                        {% for item in order.items %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{ item.lunch.name }}
                                <span class="badge badge-success badge-pill">
                                    {{ item.quantity }}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    {{ order.getStatusName|trans }}
                </td>
                <td>
                    <a class="btn-sm btn-outline-success" href="{{ path('order_show', {'id': order.id}) }}">{% trans %}Show{% endtrans %}</a>
                    <a class="btn-sm btn-outline-success" href="{{ path('order_edit', {'id': order.id}) }}">{% trans %}Edit{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{% trans %}No records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('order_new') }}">{% trans %}Create order{% endtrans %}</a>
{% endblock %}
